/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.main-header {

  width: inherit;
}

.main-title {
  font-style: bold;
  color: White;
  font-family: "Garamond";
  display: inline-block;
  font-size: 100;
}

.login {
  display: flex;
  float: right;
}

ul {
  list-style-type: none;
  font-family: monospace;
}

a {
color: white;
background-color: black;
border-radius: 50px;
}

body {
  background-image: url("https://i.pinimg.com/originals/23/2e/fa/232efa9d5655059ad8f244c3241a6026.jpg");
  background-size: cover;
}

.session-form {
  font-family: fantasy;
  color: white;
  padding: 20px;
  background-color: gray;
  width: 300px;
  display: flex;

  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
